<%- include('./partials/head') %> <%-
include('./partials/header') %>

<main>
	<section class="searchbar">
		<h1>Waar bent u naar op zoek?</h1>
		<form action="" method="GET">
			<input
				type="search"
				id="site-search"
			/>
			<label>binnen de website zoeken</label>
		</form>
	</section>

	<section class="items">
		<!-- Laad de resultaten in en genereert diverse articles met content -->
		<% results.forEach(result => { %>
		<article>
				<img
				src=" <%= result.coverimages %> "
				alt="<%= result.titles %>"
				/>
			<!-- Laad de titel van het boek in -->
			<h2><%= result.titles[0] %></h2>
			<%# Laad de schrijver van het boek in %>
			<h3><%= result.authors[0] %></h3>

			<div>
				<!-- Genereert een link met unieke content van het boek -->
				<a href="/book?resultIsbn<%= result.isbn %>">
					bekijk exemplaar
				</a>
			</div>
		</article>
		<% }); %>
	</section>
</main>

<%- include('./partials/foot') %>
