<%- include('./partials/head') %> <%-
include('./partials/header') %>

<main>
	<section class="searchbar">
		<h1>Waar bent u naar op zoek?</h1>
    <form action="" method="GET">
      <input type="search" id="site-search" placeholder="Bijv: titel van het boek, schrijver etc." />
			<label>binnen de website zoeken</label>
			<button id="search-button">
				<svg
					width="37"
					height="37"
					viewBox="0 0 37 37"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M15.3373 0.25C7.00922 0.25 0.258057 7.00117 0.258057 15.3291C0.258057 23.6571 7.00922 30.4083 15.3373 30.4083C18.8612 30.4083 22.105 29.1977 24.6716 27.1725L33.2295 35.7303C33.9224 36.4231 35.0456 36.4231 35.7385 35.7303C36.4312 35.0376 36.4312 33.9143 35.7385 33.2215L27.1805 24.6637C29.2059 22.0968 30.4164 18.8532 30.4164 15.3291C30.4164 7.00117 23.6652 0.25 15.3373 0.25ZM3.80609 15.3291C3.80609 8.96069 8.96875 3.79803 15.3373 3.79803C21.7057 3.79803 26.8684 8.96069 26.8684 15.3291C26.8684 18.5139 25.5796 21.3942 23.4909 23.4829C21.4023 25.5716 18.522 26.8603 15.3373 26.8603C8.96875 26.8603 3.80609 21.6977 3.80609 15.3291Z"
						fill=""
					/>
				</svg>
			</button>
		</form>
	</section>

	<section class="items">
		<!-- Laad de resultaten in en genereert diverse articles met content -->
    <% results.forEach(result => { %>
		<article>
			<!-- Laad de eerste afbeelding met een titel als alternatieve tekst -->
			<img
				src=" <%= result.coverimages %> "
				alt="<%= result.titles %>"
			/>
			<!-- Laad de titel van het boek in -->
			<h2><%= result.titles[0] %></h2>
			<%# Laad de schrijver van het boek in %>
			<h3><%= result.authors[0] %></h3>
			
			<div>
				<!-- Genereert een link met unieke content van het boek -->
				<a href="/book?resultIsbn<%= result.isbn %>"
					>bekijk exemplaar</a
				>
			</div>
		</article>
		<% }); %>
	</section>
</main>

<%- include('./partials/foot') %>
