<%- include('./partials/head') %> 
<%- include('./partials/header') %>

<main>
	<section>
		<h1>Reserveer een boek</h1>
	</section>
	<section>
		<form
			class="reservation"
			action="/reserveren"
			method="post"
            autocomplete="on"
		> 
			<fieldset>
				<legend>Persoonlijke gegevens</legend>
				<label for="obaId">oba ID nummer</label>
				<input
					required
					id="obaId"
					type="text"
					name="obaId"
					value=""
                    
				/>
				<label for="userName">Wat is uw voornaam?</label>
				<input
					required
					id="userName"
					type="text"
					name="userName"
					value="<%= locals.reservations?.userName ?? '' %>"
				/>
				<label for="date">
                    Wanneer wilt u een boek lenen?</label>
				<input
					required
					id="date"
					type="date"
					name="date"
					value="<%= locals.reservations?.date ?? '' %>"
				/>
				<button class="execute" type="submit" value="reserveren">reserveren</button>
			</fieldset>
		</form>
	</section>
    <section class="error-message" style="display:none">
        <div>
            <p>Zorg dat alle velden zijn ingevuld!</p>
        </div>
    </section>

</main>

<%- include('./partials/foot') %>

